[submodule "uspi"]
	path = uspi
	url = https://github.com/rsta2/uspi.git
[submodule "printf"]
	path = printf
	url = https://github.com/mpaland/printf.git
[submodule "AMPi"]
	path = AMPi
	url = https://github.com/kawa-yoiko/AMPi
